{% extends 'base.html.twig' %}

{% block body %}
    <header>Blog</header>
    {% for post in posts %}
    <div class="portfolio-blog-post">
        <div class="portfolio-blog-post-title">{{post.title}}</div>
        <div style="clear:both;"></div>
        <div class="portfolio-blog-post-text">{{post.post|slice(0, 400)}}...</div>
        <div class="portfolio-blog-post-chceckout"><a href="/post/{{post.id}}">Czytaj dalej &raquo;</a></div>
        <div style="clear:both;"></div>
    </div>
    {% endfor %}
    {% if posts is empty %}
    <div class="portfolio-blog-empty">Nie znaleziono postów w bazie!</div>
    {% endif %}
{% endblock %}