{% extends 'base.html.twig' %}

{% block body %}
    <header>Moje dotychczasowe prace</header>
    {% set i = 0 %}
    <div class="portfolio-row-works">
        {% for work in allWorks %}
        <div class="portfolio-work">
            <div class="portfolio-work-title">{{work.title}}</div>
            <div class="portfolio-work-image">
                 <img src="{{work.photo}}" class="img-responsive" alt="{{work.title}}-image" />
            </div>
            <div class="portfolio-work-chceckout"><a href="/work/{{work.id}}">Zobacz pracę &raquo;</a></div>
        </div>
            {% set i=i+1 %}
            {% if i%2 == 0 and i<allWorks|length %}
    </div>
    <div class="portfolio-row-works">
    {% endif %}
        {% endfor %}
    </div>
{% endblock %}